<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../src/assets/img/DALL·E%202024-05-23%2022.39.36%20-%20A%20series%20of%20carousel%20images%20for%20a%20Superstore%20market%20website.%20The%20images%20should%20be%20vibrant%20and%20inviting,%20each%20highlighting%20a%20different%20category.%20One%20im.webp" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../src/assets/img/DALL·E%202024-05-23%2022.39.43%20-%20A%20series%20of%20carousel%20images%20for%20a%20Superstore%20market%20website.%20The%20images%20should%20be%20vibrant%20and%20inviting,%20each%20highlighting%20a%20different%20category.%20One%20im.webp" alt="Second slide">
    </div>
  </div>
</div>
